.cation{width: 100%; background-color: #fff; padding: 4% 2%;}
.cation ul li{width: 25%; text-align: center; float: left;}
.cation ul li img{width: 53.846%; margin: 0 auto;}
.cation ul li p{color: #666666; font-size: .45rem; margin-bottom: 0;}