.reset{width: 100%;}
.reset .top{width: 100%; padding:1rem 6%; height: 3.5rem; line-height: 3.5rem; font-size: 1.5rem;}
.reset .top i{font-size: 1.5rem; color: #25cb83;}
.reset .top a{color: #25cb83;}
.reset .content{width: 88%; margin: 10% auto;}
.reset .content .tit{width: 100%; margin-bottom: 10%; text-align: center; font-size: 1.5rem; color: #333333;}
.reset .content .list ul li{width: 100%; margin-bottom:.7rem; line-height: 3.5rem; height: 3.5rem; overflow: hidden; border-bottom: 1px solid #dcdcdc;}
.reset .content .list ul li i{width: 12%; text-align: center; font-size: 1.5rem; color: #d7d7d7;}
.reset .content .list ul li input{margin: 0; height: 3.5rem; font-size: .45rem; color: #333333; width: 80%; background: none; padding: 0; border: none;}
.login-btn{width: 88%; margin: 10% auto 0;}
.login-btn a{display: block; width: 100%; font-family: "微软雅黑"; height: 3.5rem; line-height: 3.5rem; position: relative; text-align: center; background-color: #25cb83; border: 1px solid #25cb83; border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 4%; color: #fff; font-size: 1.6rem;}
