.report-header .baocun{display: block; width: 12%; text-align: right; color: #666666; font-size: .5rem;}
.report-header .baocun a{color: #666666;}
.add-address .textare{width: 100%; border: none; border-bottom: 1px solid #dcdad3; padding: 2% 5%; font-size: .45rem; color: #333333;}
.add-address .plist ul li:last-child{margin-bottom: 0;}
.address-btn{width: 100%; padding: 3% 5%; border-top: 1px solid #dcdad3; border-bottom: 1px solid #dcdad3; background-color: #fff;}
.address-btn .szwmr{font-size: .45rem; color: #333333; line-height: 1rem;}
.toggle {position: relative;display: block;margin: 0 auto;	width: 2rem;height: 1rem; color: white;outline: 0;	text-decoration: none;border-radius: 100px;border: 2px solid #dcdad3;background-color: #faf8f3;-webkit-transition: all 500ms;-moz-transition: all 500ms;-o-transition: all 500ms;transition: all 500ms;}
.toggle:active {background-color: #fff;}
.toggle:hover:not(.toggle--moving):after {background-color: #ffffff;}
.toggle:after {display: block;position: absolute;top: -2px;bottom: 0;left: -2px;width: calc(50% - 4px);width: .9rem;height: .9rem;text-align: center;text-transform: uppercase;font-size: 0;color: white;background-color: #ffffff;border: 2px solid;-webkit-transition: all 500ms;-moz-transition: all 500ms;-o-transition: all 500ms;transition: all 500ms;}
.toggle--on:after {content: 'On';border-radius: 50%;color: #ffffff;border: 2px solid #dcdad3;}
.toggle--off{background-color: #ccc;}
.toggle--off:after {content: 'Off';border-radius: 50%;color: #fff;border: 2px solid #dcdad3;background-color: #fff;-webkit-transform: translate(100%, 0);-moz-transform: translate(100%, 0);-o-transform: translate(100%, 0);transform: translate(100%, 0);}
.toggle--moving {background-color: #fff;}
.toggle--moving:after {color: transparent;border-color: #dcdad3;background-color: #fff;-webkit-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;-moz-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;-o-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;}

.report-header{width: 100%; padding: 5% 3%; background-color: #faf8f3; border-bottom: 2px solid #dcdad3;}
.report-header .icon-fanhui:before{display: block; width: 20%; float: left;}
.report-header p{width: 100%; text-align: center; float: right; color: #404040; font-size: .5rem;}

.plist{width: 100%; background-color: #fff;}
.plist ul li{width: 100%; padding: 0 5%; height: 1.5rem; line-height: 1.5rem; border-bottom: 1px solid #dcdad3; box-sizing: border-box; -webkit-box-sizing: border-box;}
.plist ul li a{display: inline-block; width: 100%;}
.plist ul li p{line-height: 1.5rem; margin-left: 3%; color: #333333; font-size: .45rem;}
.plist ul li p.tel{color: #666; width: 80%; overflow: hidden; text-overflow: ellipsis; -webkit-text-overflow: ellipsis; white-space: nowrap;}
.plist ul li input{margin: 0; text-indent: .5em; padding: 0; border: none; width: 60%; height: 1.4rem; font-size: .45rem; color: #333;}
.plist ul li i{color: #999; font-size: .5rem;}