.login{width: 100%; padding-top: 10%; background: url(../img/loginbg.jpg) center no-repeat; position: absolute; min-height: 100%; background-size: cover;}
.login h3{width: 100%; text-align: center; font-size: 1.7rem; color: #fff;}
.login .list{width: 100%; margin: 10% auto 5%;}
.login .list ul li{width: 100%; overflow: hidden; margin-bottom: 3px; height: 3.5rem; float: left;
    display: flex;justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;}
.login .list ul li p{width: 3.5rem; height: 3.5rem; position: relative; line-height: 3.5rem; text-align: center;}
.login .list ul li p span{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000000;}
.login .list ul li p i{color: #8c8c8c;}
.login .list ul li .nr{width: 84%; height: 3.5rem; position: relative;}
.login .list ul li .nr input{background: none; position: relative; border: none; margin: 0; padding: 0; line-height: 3.5rem; height: 3.5rem; text-indent: 1em; font-size: .4rem; color: #fff; width: 100%;}
.login .list ul li .nr span{position: absolute; width: 100%; height: 100%; background-color: #000000;}
.login .list ul li .nrtwo input{width: 70%;}
.login .list ul li .nrtwo samp{width: 28%; line-height: 3.5rem; font-size: 1.7rem; border-radius: 5px; -webkit-border-radius: 5px; margin-right: 2%; text-align: center; height: 1.5rem; background-color: #f8ec88; color: #333333;}

.radiofour .option{width: .6rem; height: .6rem; position: absolute; top: 0; left: 0; background-size: cover;  background: url(../img/que.png) no-repeat; background-size: cover;}
.radiofour input[type="checkbox"] {display: inline-block ; margin-right: .3rem ; opacity: 0 ;}
.radiofour input[type="checkbox"]:checked+div {background: url(../img/que1.png) no-repeat; background-size: cover;}

.login .mima{width: 88%; margin: 0 auto;}
.login .mima .xuan span{font-size: .4rem; color: #fff;}
.login .mima ul li a{font-size: .4rem; color: #fff;}

.login-btn{width: 88%; margin: 10% auto 0;}
.login-btn a{display: block; width: 100%; font-family: "微软雅黑"; height: 3.5rem; line-height:3.5rem; position: relative; text-align: center; background-color: #25cb83; border: 1px solid #25cb83; border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 4%; color: #fff; font-size: 1.5rem;}
.login-btn .btn{background: none;}
.login-btn .btn span{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: #25cb83;}
.login-btn .btn samp{position: relative; font-family: "微软雅黑";}
.login .list ul li .nrtwo samp {
    width: 28%;
    line-height: 3.5rem;
    font-size: 0.7rem;
    margin-right: 2%;
    text-align: center;
    height: 100%;
    background-color: rgb(248, 236, 136);
    color: rgb(51, 51, 51);
    border-radius: 5px;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

.box-s{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ra3 { -webkit-border-radius: 3px; border-radius: 3px; }
.fl{float:left;display:inline;}
.f1 input{width: 40rem;height: 1.7rem}
.opa5 {
    opacity: .5;
    /*-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 50);*/
    filter: alpha(opacity = 50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-yonghuming:before { content: "\e600"; }
.opa3 {
    opacity: .3;
    /*-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 30);*/
    filter: alpha(opacity = 30);
    -moz-opacity: .3;
    -khtml-opacity: .3;
}
.ra3 { -webkit-bordericon-yonghuming-radius: 3px; border-radius: 3px; }

.opa5 {
    opacity: .5;
    /*-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 50);*/
    filter: alpha(opacity = 50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
}
.icon-yanzhengma:before { content: "\e60d"; }

.db { display: block; }
.fr{float:right;display:inline;}
.radiofour .option{width: .6rem; height: .6rem; position: absolute; top: 0; left: 0; background-size: cover;  background: url(../img/que.png) no-repeat; background-size: cover;}
.radiofour input[type="checkbox"] {display: inline-block ; margin-right: .3rem ; opacity:1 ;}
.radiofour input[type="checkbox"]:checked+div {background: url(../img/que1.png) no-repeat; background-size: cover;}
.radiosss .option{top: auto;}